.searh-panel{border-bottom: 2px solid darkgray;padding-bottom: 20px;margin-bottom: 10px;}
.left-panel, .right-panel{background-color: white;padding:20px 10px;min-height: 600px;}
.weather-index {background-color: #e7e7e7;padding: 40px 0;}
.plus{margin-top:5px;}
.clear-btn{right:10px;bottom: 0;position:absolute;margin-bottom: 20px;}
.left-panel{border-right: 10px solid #e7e7e7;}

/**Location**/
.second-title{color:gray;font-size: 14px;border-bottom: 1px solid darkgray;padding:0 5px;}
.location-unit{border-bottom: 1px solid lightgray;padding:0 5px;}
.plus:hover, .refresh:hover, .delete:hover, .cityName:hover{cursor: pointer;color:#007bff;transition: .3s all;}
.location-unit .refresh, .location-unit .delete{margin-top: 15px;}
/**detail page**/
.future-block{text-align:center;}
.future-block p{line-height: .5;}
.future-block img{margin-bottom: 10px;margin-top: -10px;}
.future-panel{margin-top: 40px;}
.location-detail .weather-icon{text-align: center;}