.searh-panel{border-bottom: 2px solid darkgray;padding-bottom: 20px;margin-bottom: 10px;}
.left-panel{background-color: white;padding:20px 10px;min-height: 560px;}
.weather-index {background-color: #e7e7e7;}
.plus{margin-top:5px;cursor: pointer;}

/**Location page**/
.second-title{color:gray;font-size: 14px;border-bottom: 1px solid darkgray;}
.location-unit{border-bottom: 1px solid lightgray;padding:8px 0;}
.refresh, .delete{cursor: pointer;}
