.searh-panel{border-bottom: 2px solid darkgray;padding-bottom: 20px;margin-bottom: 10px;}
.left-panel, .right-panel{background-color: white;padding:20px 10px;min-height: 560px;}
.weather-index {background-color: #e7e7e7;}
.plus{margin-top:5px;}

/**Location**/
.second-title{color:gray;font-size: 14px;border-bottom: 1px solid darkgray;padding:0 5px;}
.location-unit{border-bottom: 1px solid lightgray;padding:8px 5px;}
.plus:hover, .refresh:hover, .delete:hover, .cityName:hover{cursor: pointer;color:cornflowerblue;transition: .3s all;}

/**detail page**/
/* .future-block{text-align:center;} */
.future-block p{line-height: .5;}
.future-block img{margin-bottom: 10px;}
.future-panel{margin-top: 40px;}